/** @format */

.background {
  width: 100vw;
  height: 85vh;
  background-color: rgba(200, 200, 200);
  position: fixed;
  top: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container {
  width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.title {
  display: inline-block;
  text-align: center;
  color: #14ab10;
}

.body {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnHeader {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.btnFooter {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}
.btnFooter a {
  text-decoration-line: none;
  color: white;
}

#greyBtn {
  background-color: transparent;
}
#crimsonBtn {
  background-color: crimson;
}
#blueBtn {
  background-color: cornflowerblue;
}
